In [ ]:
# import required module
import os
import re

In [ ]:

# assign directory
directory = '/content/sample_data/'

In [ ]:
#import sqlite3 database. It is available in google colab.
import sqlite3

In [ ]:
#connect the database. You do not need to create test.db. If not found. It will automatically executes.
conn=sqlite3.connect('test.db')

In [ ]:
#Creating a table name demo2.
conn.execute('''
CREATE TABLE demo2 (
   Inout varchar(255) NOT NULL,
   Chalani varchar(255) NOT NULL,
   Year varchar(255) NOT NULL,
   Month varchar(255) NOT NULL,
   Day varchar(255) NOT NULL,
   Recipent varchar(255) NOT  NULL,
   Subject varchar(255) NOT NULL,
   Link varchar(255) NOT NULL
 );''')

In [ ]:
#It is essential command.
conn.commit()

In [ ]:

# iterate over files in
# that directory
for root, dirs, files in os.walk(directory):
    for filename in files:
        #split=filename.split('[_ .]')
        split=re.split('[_ .]',filename)
        print(split[0:3])
        #for i in range(len(split)-1):
        conn.execute("INSERT INTO demo2(Inout,Chalani,Year,Month,Day,Recipent,Subject,Link) VALUES(?,?,?,?,?,?,?,?)",(split[0],split[1],split[2],split[3],split[4],split[5],split[6],filename))
#print(filename)

In [ ]:
conn.commit()

In [ ]:
#Select all record from table demo2.
conn = sqlite3.connect('test.db')
cursor = conn.execute(''' SELECT * FROM demo2 ''')
for row in cursor:
  print(row)